main {
  margin: 10px 30%;
}
#viewer {
  width: 100%;
  text-align: center;
  font-size: 40px;
  border: 1px solid;
  border-radius: .25rem;
  padding: 20px;
}
.alert {
  color: red;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}